{
  "extends": [
    "eslint-config-chetbaby",
  ],
  "rules": {
    "prettier/prettier": 0,
    "no-param-reassign": 0,
    "camelcase": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
  },
}
